body { font-family: arial, sans-serif; }
main { width: 100%; }
div.container { background: aliceblue; width: 80%; margin: 60px auto 0 auto; border-radius: 20px; }
form { background: rgb(254, 205, 136); padding: 20px; border-radius: 20px; }
ul { list-style: none; margin: 0 auto; }
li { display: inline-block; margin-right: 8px;}

.tekstinvoer input[type="text"] { appearance: none; padding: 10px 16px; border-radius: 20px; border: none; margin-top: 6px; font-size: 1.1em; }
.tekstinvoer label { font-size: 0.6em; color: darkgray; padding-left: 16px; text-transform: uppercase; }
.tekstinvoer input:focus { background-color: beige; color: red; }

.radioinvoer { margin-top: 24px; }
.radioinvoer input[type="radio"] { transform: scale(2) translateY(-1px); }
.radioinvoer input[type="radio"]:first-child { margin-left: 12px; }
.radioinvoer label { padding-left: 8px; padding-right: 16px; text-transform: uppercase; }

.checkinvoer { margin-top: 24px; }
.checkinvoer input[type="checkbox"] { transform: scale(2) translateY(-1px); }
.checkinvoer input[type="checkbox"]:first-child { margin-left: 12px; }
.checkinvoer label { padding-left: 8px; padding-right: 16px; text-transform: uppercase; }

button { appearance: none; font-size: 0.8em; border: 1px solid transparent; padding: 10px 16px; border-radius: 20px; margin-top: 20px; background-color: cornflowerblue; }
button:hover { border: 1px solid black; cursor: pointer; }
input[type="submit"] { appearance: none; font-size: 0.8em; border: 1px solid transparent; padding: 10px 16px; border-radius: 20px; margin-top: 20px; background-color: cornflowerblue; }
input[type="submit"]:hover { border: 1px solid black; cursor: pointer; }

