.nav {
    display: flex;
    background: rgb(8, 59, 247);
    max-height: auto;
    width: auto;
    padding-top: 0px;
    color: white;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  
  li {
    display: inline;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    background-color:  rgb(8, 59, 247);
    overflow: hidden;
    justify-content: space-evenly;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
     border-radius: 4px;
  }
  
  * {
    margin: 0px;
  }
  
  .h1Header {
    padding: 8px 16px;
    margin-left: 18%;
  }
  
  body {
    font-style: oblique;
  }
  
  li a:hover {
    background-color: rgb(0, 0, 0);
    transition: 2s;
   
  }

  header{
    background-color:  rgb(8, 59, 247);
    display: flex;
    justify-content: start;
    color: white;
  }

  script{
    margin-right: 90%;
  }